# Date time
THE LAWS OF TIME ARE MINE

In [1]:
import datetime

In [2]:
datetime_object = datetime.datetime.now()
print(datetime_object)

2020-09-15 19:44:01.158569

In [3]:
date_object = datetime.date.today()
print(date_object)

2020-09-15

In [4]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

#### Date (no time)

In [19]:
#print(help(datetime.date))
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC. You can convert a timestamp to date using fromtimestamp()

In [20]:
timestamp = datetime.date.fromtimestamp(13262434364)
print('date = ', timestamp)

date =  2390-04-09

#### Time (no date)
different ways to enter time and extract time.

In [11]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [12]:
a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

#### Datetime (date and date)
as time we will enter and extract time

In [17]:
#datetime(year, month, day)
a = datetime.datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime.datetime(2017, 11, 28, 23, 55, 59,32141)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.032141

In [15]:
a = datetime.datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511942159.34238

#### Timedelta and time between dates

In [22]:

from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = -201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [23]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
print(t1)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

19 days, 1:00:33
t3 = 14 days, 13:55:39

Interresting characteristic of the timedelta when it goes negative
I think it will be very important, going forward, to use the absolute time

In [24]:
t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

#### strftime() and strptime()
ff

#### FROM DATETIME TO STRING strftime()

In [25]:
# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 20:07:23
s1: 09/15/2020, 20:07:23
s2: 15/09/2020, 20:07:23

More infor at https://www.programiz.com/python-programming/datetime/strftime

and 

https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

#### FROM STRING TO DATETIME strptime()

In [26]:
date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [30]:
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 09/15/2020, 20:22:06
NY: 09/15/2020, 23:22:08
London: 09/16/2020, 04:22:08