In [1]:
import pandas as pd
from tabulate import tabulate

### Connect Pandas to the database with this URL:

In [2]:
# titles = pd.read_csv('data/titles.csv')
# titles.head()

In [3]:
# cast = pd.read_csv('data/cast.csv')
# cast.head()

In [4]:
cst_ab_pth = '/home/vanderscycle/Documents/Lighthouse-lab/Databases/w2-d2-db/imdb_pandas/cast.csv'
title_ab_pth = '/home/vanderscycle/Documents/Lighthouse-lab/Databases/w2-d2-db/imdb_pandas/titles.csv'


titles = pd.read_csv(title_ab_pth) # relative path use the forward slash
titles.head()

cast = pd.read_csv(cst_ab_pth)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
'''files_path
def open_rel(rel_path,files):
    for file in files:
   '''
# can I create a function to open multiple files?

'files_path\ndef open_rel(rel_path,files):\n    for file in files:\n   '

In [6]:
def pprint(df, headers=(), tablefmt='simple', floatfmt='g', numalign='decimal', stralign='left', missingval='', showindex='default', disable_numparse=False, colalign=None):

    #help(tabulate)
    return print(tabulate(df, headers=df.columns.values))

### Using groupby(), count the number of films that have been released each decade in the history of cinema.

In [7]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [8]:
m_decade_range = range(1880,2030,10)
titles_range = titles.groupby(pd.cut(titles.year,m_decade_range)).count()
pprint(titles_range)

                title    year
------------  -------  ------
(1880, 1890]        0       0
(1890, 1900]        7       7
(1900, 1910]       55      55
(1910, 1920]     7617    7617
(1920, 1930]     8490    8490
(1930, 1940]    10277   10277
(1940, 1950]     8675    8675
(1950, 1960]    13113   13113
(1960, 1970]    18166   18166
(1970, 1980]    18351   18351
(1980, 1990]    20746   20746
(1990, 2000]    22672   22672
(2000, 2010]    42247   42247
(2010, 2020]    61847   61847

### Use groupby() count the number of "Hamlet" films made each decade.

In [9]:
m_decade_range = range(1880,2030,10)
ham = titles[titles['title'].isin(['Hamlet'])]
pprint(ham.groupby(pd.cut(ham.year,[1920,1930,1940,1950])).count()) # (most_accurate_df, range/list)

pprint(ham.groupby(pd.cut(ham.year,m_decade_range)).count())
#titles_range = titles.groupby(pd.cut(titles.year,m_decade_range)).count()
#pprint(titles_range)

                title    year
------------  -------  ------
(1920, 1930]        1       1
(1930, 1940]        0       0
(1940, 1950]        1       1
                title    year
------------  -------  ------
(1880, 1890]        0       0
(1890, 1900]        0       0
(1900, 1910]        1       1
(1910, 1920]        2       2
(1920, 1930]        1       1
(1930, 1940]        0       0
(1940, 1950]        1       1
(1950, 1960]        1       1
(1960, 1970]        2       2
(1970, 1980]        2       2
(1980, 1990]        2       2
(1990, 2000]        2       2
(2000, 2010]        1       1
(2010, 2020]        3       3

In [10]:
#help(pd.cut)

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [11]:
decade1950_range = range(1950,1959,1)
cast_50s_in = cast.set_index(['year','type','n']).sort_index(level=[0,1,2])

In [12]:
top_male_cast_50s = (cast_50s_in.loc[(decade1950_range,'actor',1)]).groupby(['year']).count()

In [13]:
top_female_cast_50s = (cast_50s_in.loc[(decade1950_range,'actress',1)]).groupby(['year']).count()

In [14]:
pd.unique(cast['type']) #cool methos to only see unique values in a given column(serie)

array(['actor', 'actress'], dtype=object)

In [15]:
delta_top_cast_roles = top_male_cast_50s-top_female_cast_50s
pprint(delta_top_cast_roles)

        title    name    character
----  -------  ------  -----------
1950      345     345          345
1951      366     366          366
1952      314     314          314
1953      351     351          351
1954      324     324          324
1955      360     360          360
1956      338     338          338
1957      434     434          434
1958      415     415          415

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [16]:
male_cast_n1to5 = dict()
for i in range(1,6):
    male_cast_n1to5[i]= cast_50s_in.loc[(decade1950_range,'actor',i)].groupby(['year'])

In [17]:
# for k,v in male_cast_n1to5.items():
#     print(f'\nmale role tier:{k}')
#     pprint(v.count())

In [18]:
female_cast_n1to5 = dict()
for i in range(1,6):
    female_cast_n1to5[i]= cast_50s_in.loc[(decade1950_range,'actress',i)].groupby(['year'])

In [19]:
# for k,v in male_cast_n1to5.items():
#     print(f'\nfemale role tier:{k}')
#     pprint(v.count())

In [20]:
#for (k,v), (k2,v2) in zip(d.items(), d2.items()):
for (km,vm),(kf,vf) in zip(male_cast_n1to5.items(),female_cast_n1to5.items()):
    delta_c = vm.count() - vf.count()
    print(f'\ndelta (male-female) for role tier:{km}\nnegative values means more female in that role')
    pprint(delta_c)

delta (male-female) for role tier:1
negative values means more female in that role
        title    name    character
----  -------  ------  -----------
1950      345     345          345
1951      366     366          366
1952      314     314          314
1953      351     351          351
1954      324     324          324
1955      360     360          360
1956      338     338          338
1957      434     434          434
1958      415     415          415

delta (male-female) for role tier:2
negative values means more female in that role
        title    name    character
----  -------  ------  -----------
1950       22      22           22
1951       26      26           26
1952        1       1            1
1953       12      12           12
1954      -63     -63          -63
1955      -34     -34          -34
1956       35      35           35
1957      -30     -30          -30
1958       16      16           16

delta (male-female) for role tier:3
negative values means more female in that role
        title    name    character
----  -------  ------  -----------
1950      191     191          191
1951      267     267          267
1952      233     233          233
1953      254     254          254
1954      267     267          267
1955      257     257          257
1956      244     244          244
1957      283     283          283
1958      249     249          249

delta (male-female) for role tier:4
negative values means more female in that role
        title    name    character
----  -------  ------  -----------
1950      263     263          263
1951      316     316          316
1952      240     240          240
1953      280     280          280
1954      292     292          292
1955      262     262          262
1956      255     255          255
1957      286     286          286
1958      268     268          268

delta (male-female) for role tier:5
negative values means more female in that role
        title    name    character
----  -------  ------  -----------
1950      331     331          331
1951      327     327          327
1952      316     316          316
1953      298     298          298
1954      279     279          279
1955      295     295          295
1956      290     290          290
1957      313     313          313
1958      308     308          308

In [21]:
top5_male_cast_50s = (cast_50s_in.loc[(decade1950_range,'actor',range(1,5))]).groupby(['year'])

In [22]:
top5_female_cast_50s = (cast_50s_in.loc[(decade1950_range,'actress',range(1,5))]).groupby(['year'])

In [23]:
delta_top5_cast_roles = top5_male_cast_50s.count()-top5_female_cast_50s.count()
#pprint(delta_top5_cast_roles)

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

[next time use the regex](https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/)

In [24]:
((cast[cast['title'].str.contains('Pink Panther')]).groupby('character')).head()

,title,year,name,type,character,n
955,The Pink Panther,2006,William Abadie,actor,Bizu,11.0
1978,Revenge of the Pink Panther,1978,Fredric Abbott,actor,Douvier's Soldier,38.0
4691,Curse of the Pink Panther,1983,William Abney,actor,Hugo the Houseman,33.0
12589,Son of the Pink Panther,1993,Tony Adams,actor,Wedding Guest,NaN
12590,The Return of the Pink Panther,1975,Tony Adams,actor,Waiter,NaN
...,...,...,...,...,...,...
3582494,Revenge of the Pink Panther,1978,Elisabeth Welch,actress,Mrs. Wu,24.0
3582965,The Pink Panther,1963,Meri Welles,actress,Monica Fawn,12.0
3584647,The Pink Panther,2006,Colleen Werthmann,actress,Jane,NaN
3606096,The Pink Panther,2006,Jadin Wong,actress,Granny,NaN
3616292,Revenge of the Pink Panther,1978,Rosita Yarboy,actress,Sam Spade and the Private Eyes,21.0

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

In [46]:
fran_oz = cast[cast['name'].isin(['Frank Oz'])]#.groupby('year')

In [92]:
#fran_oz['year'].value_counts(sort=False)>2

In [100]:
fran_oz[fran_oz['title'].map(fran_oz['title'].value_counts())>1]

,title,year,name,type,character,n
1671990,An American Werewolf in London,1981,Frank Oz,actor,Mr. Collins,13.0
1671991,An American Werewolf in London,1981,Frank Oz,actor,Miss Piggy,13.0
1671993,Follow That Bird,1985,Frank Oz,actor,Cookie Monster,3.0
1671994,Follow That Bird,1985,Frank Oz,actor,Bert,3.0
1671995,Follow That Bird,1985,Frank Oz,actor,Grover,3.0
1672000,Muppet Treasure Island,1996,Frank Oz,actor,Miss Piggy,14.0
1672001,Muppet Treasure Island,1996,Frank Oz,actor,Fozzie Bear,14.0
1672002,Muppet Treasure Island,1996,Frank Oz,actor,Sam the Eagle,14.0
1672003,Muppet Treasure Island,1996,Frank Oz,actor,Animal,14.0
1672004,Muppets from Space,1999,Frank Oz,actor,Miss Piggy,7.0
1672005,Muppets from Space,1999,Frank Oz,actor,Fozzie Bear,7.0
1672006,Muppets from Space,1999,Frank Oz,actor,Animal,7.0
1672007,Muppets from Space,1999,Frank Oz,actor,Sam the Eagle,7.0
1672016,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Bert,16.0
1672017,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Grover,16.0
1672018,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Cookie Monster,16.0
1672020,The Dark Crystal,1982,Frank Oz,actor,"Aughra, a Keeper Of Secrets (performer)",3.0
1672021,The Dark Crystal,1982,Frank Oz,actor,Chamberlain (performer),3.0
1672022,The Great Muppet Caper,1981,Frank Oz,actor,Miss Piggy,2.0
1672023,The Great Muppet Caper,1981,Frank Oz,actor,Fozzie Bear,2.0
1672024,The Great Muppet Caper,1981,Frank Oz,actor,Animal,2.0
1672025,The Great Muppet Caper,1981,Frank Oz,actor,Sam the Eagle,2.0
1672026,The Great Muppet Caper,1981,Frank Oz,actor,Gramps,2.0
1672027,The Great Muppet Caper,1981,Frank Oz,actor,Swedish Chef,2.0
1672028,The Muppet Christmas Carol,1992,Frank Oz,actor,Miss Piggy as Emily Cratchit,5.0
1672029,The Muppet Christmas Carol,1992,Frank Oz,actor,Fozzie Bear as Fozziewig,5.0
1672030,The Muppet Christmas Carol,1992,Frank Oz,actor,Sam the Eagle as Headmaster of Junior High Gra...,5.0
1672031,The Muppet Christmas Carol,1992,Frank Oz,actor,Animal,5.0
1672032,The Muppet Christmas Carol,1992,Frank Oz,actor,George the Janitor,5.0
1672033,The Muppet Christmas Carol,1992,Frank Oz,actor,Horse and Carriage Driver,5.0
1672034,The Muppet Christmas Carol,1992,Frank Oz,actor,Vegetable Salesman,5.0
1672035,The Muppet Movie,1979,Frank Oz,actor,Miss Piggy,2.0
1672036,The Muppet Movie,1979,Frank Oz,actor,Fozzie Bear,2.0
1672037,The Muppet Movie,1979,Frank Oz,actor,Animal,2.0
1672038,The Muppet Movie,1979,Frank Oz,actor,Sam the Eagle,2.0
1672039,The Muppet Movie,1979,Frank Oz,actor,Doc Hopper's Men,2.0
1672040,The Muppet Movie,1979,Frank Oz,actor,Marvin Suggs,2.0
1672041,The Muppet Movie,1979,Frank Oz,actor,Swedish Chef (assistant),2.0
1672042,The Muppet Movie,1979,Frank Oz,actor,Motorcycle Guy,2.0
1672043,The Muppets Take Manhattan,1984,Frank Oz,actor,Miss Piggy,2.0
1672044,The Muppets Take Manhattan,1984,Frank Oz,actor,Fozzie,2.0
1672045,The Muppets Take Manhattan,1984,Frank Oz,actor,Animal,2.0
1672046,The Muppets Take Manhattan,1984,Frank Oz,actor,Bert,2.0
1672047,The Muppets Take Manhattan,1984,Frank Oz,actor,Cookie Monster,2.0
1672048,The Muppets Take Manhattan,1984,Frank Oz,actor,Ocean Breeze Soap Board Member,2.0
1672049,The Muppets Take Manhattan,1984,Frank Oz,actor,Sam the Eagle,2.0

### List each of the characters that Frank Oz has portrayed at least twice.

In [91]:
#fran_oz['character'].value_counts()>2

In [101]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html
#df1 = df[df['A'].map(df['A'].value_counts()) > 1]
fran_oz[fran_oz['character'].map(fran_oz['character'].value_counts())>1].sort_index()

,title,year,name,type,character,n
1671991,An American Werewolf in London,1981,Frank Oz,actor,Miss Piggy,13.0
1671993,Follow That Bird,1985,Frank Oz,actor,Cookie Monster,3.0
1671994,Follow That Bird,1985,Frank Oz,actor,Bert,3.0
1671995,Follow That Bird,1985,Frank Oz,actor,Grover,3.0
1672000,Muppet Treasure Island,1996,Frank Oz,actor,Miss Piggy,14.0
1672001,Muppet Treasure Island,1996,Frank Oz,actor,Fozzie Bear,14.0
1672002,Muppet Treasure Island,1996,Frank Oz,actor,Sam the Eagle,14.0
1672003,Muppet Treasure Island,1996,Frank Oz,actor,Animal,14.0
1672004,Muppets from Space,1999,Frank Oz,actor,Miss Piggy,7.0
1672005,Muppets from Space,1999,Frank Oz,actor,Fozzie Bear,7.0
1672006,Muppets from Space,1999,Frank Oz,actor,Animal,7.0
1672007,Muppets from Space,1999,Frank Oz,actor,Sam the Eagle,7.0
1672009,Star Wars: Episode I - The Phantom Menace,1999,Frank Oz,actor,Yoda,12.0
1672010,Star Wars: Episode II - Attack of the Clones,2002,Frank Oz,actor,Yoda,6.0
1672011,Star Wars: Episode III - Revenge of the Sith,2005,Frank Oz,actor,Yoda,7.0
1672012,Star Wars: Episode V - The Empire Strikes Back,1980,Frank Oz,actor,Yoda,9.0
1672013,Star Wars: Episode VI - Return of the Jedi,1983,Frank Oz,actor,Yoda,9.0
1672014,Star Wars: Episode VII - The Force Awakens,2015,Frank Oz,actor,Yoda,NaN
1672016,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Bert,16.0
1672017,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Grover,16.0
1672018,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Cookie Monster,16.0
1672022,The Great Muppet Caper,1981,Frank Oz,actor,Miss Piggy,2.0
1672023,The Great Muppet Caper,1981,Frank Oz,actor,Fozzie Bear,2.0
1672024,The Great Muppet Caper,1981,Frank Oz,actor,Animal,2.0
1672025,The Great Muppet Caper,1981,Frank Oz,actor,Sam the Eagle,2.0
1672031,The Muppet Christmas Carol,1992,Frank Oz,actor,Animal,5.0
1672035,The Muppet Movie,1979,Frank Oz,actor,Miss Piggy,2.0
1672036,The Muppet Movie,1979,Frank Oz,actor,Fozzie Bear,2.0
1672037,The Muppet Movie,1979,Frank Oz,actor,Animal,2.0
1672038,The Muppet Movie,1979,Frank Oz,actor,Sam the Eagle,2.0
1672043,The Muppets Take Manhattan,1984,Frank Oz,actor,Miss Piggy,2.0
1672045,The Muppets Take Manhattan,1984,Frank Oz,actor,Animal,2.0
1672046,The Muppets Take Manhattan,1984,Frank Oz,actor,Bert,2.0
1672047,The Muppets Take Manhattan,1984,Frank Oz,actor,Cookie Monster,2.0
1672049,The Muppets Take Manhattan,1984,Frank Oz,actor,Sam the Eagle,2.0