-- Q1. Write a query to get Product name and quantity/unit.

In [ ]:
SELECT productname,quantityperunit 
FROM Products

-- Q2. Write a query to get most expense and least expensive Product list (name and unit price)

In [ ]:
-- most expensive item
-- unsure how I can combine the query into a single entry
SELECT productname,unitprice
FROM Products
ORDER BY unitprice DESC
LIMIT 1

-- least expensive item
-- unsure how I can combine the query into a single entry
SELECT productname,unitprice
FROM Products
ORDER BY unitprice ASC
LIMIT 1

-- Q3. Write a query to count current and discontinued products.

In [ ]:
-- assuming discontinued = 1 means no longer avail
SELECT COUNT(*)
FROM Products
WHERE discontinued = 1

-- Q4. Select all product names and their category names (77 rows)

In [ ]:
SELECT p.productname,c.categoryname
FROM Products p
LEFT JOIN categories c
    ON p.categoryid = c.categoryid

-- Q5. Select all product names, unit price and the supplier region that don't have suppliers from USA region. (26 rows)

In [ ]:
-- I do not get 26 rows and I don't know why!!!
SELECT p.productname,p.unitprice,s.region -- COUNT(*)
FROM Products p
JOIN suppliers s
    ON p.supplierid = s.supplierid
WHERE not s.country = 'USA'

-- Q6. Get the total quantity of orders sold.( 51317)

In [ ]:
SELECT SUM(od.quantity)
FROM orders o
JOIN order_details od
    ON o.orderid = od.orderid;

-- Q7. Get the total quantity of orders sold for each order.(830 rows)

In [ ]:
-- the question is weirdly worded
SELECT o.orderid, sum(od.quantity) 
FROM orders o
JOIN order_details od
    ON o.orderid = od.orderid
GROUP BY o.orderid,od.quantity

-- Q8. Get the number of employees who have been working more than 5 year in the company. (9 rows)

SELECT employeeid, lastname, firstname
FROM employees
WHERE (hiredate + 5) < date('now')