# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 1

In [2]:
type(num_1)

int

#### 2. asign any number of type float to the variable "num_2"

In [7]:
num_2 = 1.0

In [8]:
type(num_2)

float

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [9]:
total = num_1 + num_2

In [10]:
total

2.0

#### 4. check the type of variable "total"

In [11]:
type(total)

float

#### 5. assign variable "height" with your height

In [23]:
height = 1.8 #m

#### 6. asign variable "mass" with your weight

In [24]:
mass = 105 #Kgs

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [25]:
bmi = mass / height**2

#### 8. print value from "bmi" variable

In [26]:
print(bmi) # I am not obese. Lambert Adolphe was a mathematician and not a physician

32.407407407407405

# String

#### 1. Create variable "name" with your first name

In [27]:
name = "Henri"

#### 2. Create variable "surname" with your surname

In [28]:
surname = "Vandersleyen"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [37]:
name_surname = f'{name} {surname}'

#### 4. print variable "name_surname"

In [38]:
print(name_surname)

Henri Vandersleyen

#### 5. print first letter from variable "name_surname"

In [39]:
print(name_surname[0])

H

#### 6. print your name (without empty space) from variable "name_surname"

In [42]:
print(name_surname.replace(" ",""))

HenriVandersleyen

#### 7. print your surname 10x (use variable surname)

In [43]:
print(name_surname * 10)

Henri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri VandersleyenHenri Vandersleyen

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [45]:
message = f'Hello my name is {name_surname}'

#### 9. print "message" variable

In [46]:
print(message)

Hello my name is Henri Vandersleyen

## List

#### 1. create empty list with name "empty_list"

In [47]:
l = list()

[]

#### 2. create list "heights" with five random values

In [49]:
heights = [0.98,1,2,4.0,7]

#### 3. print heights

In [50]:
print(heights)

[0.98, 1, 2, 4.0, 7]

#### 4. print type of variable "heights"

In [51]:
type(heights)

list

#### 5. print second value from "heights"

In [52]:
print(heights[1])

1

#### 6. assign last three values from "heights" to another list "heights_2"

In [53]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [54]:
print(heights_2)

[2, 4.0, 7]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [60]:
list_all = list()
list_all.append(heights + heights_2) #common values? (and)

#### 9. print "list_all"

In [61]:
print(list_all)

[[0.98, 1, 2, 4.0, 7, 2, 4.0, 7]]

#### 10. print the type of "list_all"

In [65]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [66]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [5]:
#empty_tuple[0] = name_surname # TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Tuples are immutables

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [69]:
empty_dict = dict()

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [74]:
heights_dict = dict()
heights_dict[name] = height

In [75]:
heights_dict

{'Henri': 1.8}

#### 3. asign another name and height to "heights_dict"

In [76]:
heights_dict['King Kong'] = 117.95 # As per Godzilla: Resurgence (2016)

#### 4. print "heights_dict" dictionary

In [77]:
print(heights_dict)

{'Henri': 1.8, 'King Kong': 117.95}

#### 5. print your height from the "heights_dict" dictionary

In [80]:
print(heights_dict.get(name))

1.8

#### 6. print all values from "heights_dict" dictionary

In [81]:
print(heights_dict.values())

dict_values([1.8, 117.95])

#### 7. print all keys from "heights_dict" dictionary

In [82]:
print(heights_dict.keys())

dict_keys(['Henri', 'King Kong'])