In [12]:
# import the widgets
import ipywidgets as widgets

# import the interact and the interact_manual from widgetss
from ipywidgets.widgets import interact, interact_manual

# import pandas
import pandas as pd


# import plotly 
import plotly.graph_objects as go

Creating a slider

In [13]:
slider = widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

slider

IntSlider(value=3, description='Slider:', max=10)

In [14]:
# the current value of slider
print(slider.value)

3

In [15]:
#print(dir(widgets))

## Filter a Data-frame With Widgets

In [16]:
# the data url
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

# create the data-frame
df_london = pd.read_csv(url, encoding= 'unicode_escape')
df_london.columns = ["year","quarter","market","dur_stay","mode","purpose","area","visits","spend","nights","sample"]

# sample 200 rows
df = df_london.sample(200)

In [6]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
32783,2011,July-September,Hungary,1-3 nights,Air,Business,LONDON,9.099226,3.065466,13.724519,6
58524,2019,April-June,Belgium,1-3 nights,Sea,Business,LONDON,1.581395,0.000000,4.592173,1
36021,2012,July-September,Spain,8-14 nights,Air,VFR,LONDON,8.647150,1.974613,73.300657,9
44012,2014,October-December,Germany,15+ nights,Air,Miscellaneous,LONDON,1.848468,3.097336,56.937867,3
440,2002,January-March,Argentina,1-3 nights,Air,Business,LONDON,0.394438,0.140223,0.394438,1

In [7]:
# the filter function
def filter_df(column, threshold):
    return df[df[column] <= threshold]

In [8]:
filter_widget = widgets.interact(filter_df,
                                 column=['spend','visits'], 
                                 threshold=(1, 30, 1))

interactive(children=(Dropdown(description='column', options=('spend', 'visits'), value='spend'), IntSlider(va…

In [9]:
# use filter later in code
filter_widget.widget

interactive(children=(Dropdown(description='column', options=('spend', 'visits'), value='spend'), IntSlider(va…

## Interactive plotly widget

### Automatic interaction

In [10]:
@interact
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…

### Manual interaction

In [11]:
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…