In [2]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [4]:
cst_ab_pth = '/home/vanderscycle/Documents/Lighthouse-lab/Databases/w2-d2-db/imdb_pandas/cast.csv'
title_ab_pth = '/home/vanderscycle/Documents/Lighthouse-lab/Databases/w2-d2-db/imdb_pandas/titles.csv'


titles = pd.read_csv(title_ab_pth) # relative path use the forward slash
titles.head()
print(titles.columns)
cast = pd.read_csv(cst_ab_pth)
cast.head()

Index(['title', 'year'], dtype='object')

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html
titles['title'].map(titles['titles'].str.c(['Superman']))

### How many years have been "Batman years", with more Batman characters than Superman characters?

### Count the number of actor roles each year and the number of actress roles each year over the history of film.

### Find the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

### What is the fraction of roles that have been 'actor' roles each year in the history of film.

### What is the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.