## We will be working with database chinook.db
You can download it here: https://drive.google.com/file/d/0Bz9_0VdXvv9bWUtqM0NBYzhKZ3c/view?usp=sharing

The	Chinook	Database is	about an imaginary video and music store. Each track is	stored using one of	the digital formats and	has	a genre. The store has also	some playlists,	where a single track can be	part of several	playlists. Orders are recorded	for	customers, but are called invoices. Every customer is assigned a support employee, and Employees report to other employees.

### How	many	audio tracks	in	total	were	bought	by	German	customers? And	what	was	the	total	price	paid for	them?
hint: use subquery to find all of tracks with their prices

In [ ]:
-- Fellow classmates got 152 and I got 38
SELECT COUNT(t.TrackId) AS 'Total_track_bought', SUM(ii.UnitPrice *ii.Quantity) AS 'Total_spent'
FROM tracks t
LEFT JOIN invoice_items ii
    ON t.TrackId = ii.TrackId
LEFT JOIN invoices i
    ON i.InvoiceId = ii.InvoiceId
LEFT JOIN customers c
    ON i.CustomerId = c.CustomerId 
WHERE t.MediaTypeId != 3 AND i.CustomerId = (SELECT CustomerId 
FROM customers
WHERE Country = 'Germany')

### What	is	the	space,	in	bytes,	occupied	by	the	playlist	“Grunge”,	and	how	much	would	it	cost?
(Assume	that	the	cost	of	a	playlist	is	the	sum	of	the	price	of	its	constituent	tracks).

In [ ]:
/*What is the space, in bytes, occupied by the playlist "Grunge", 
and how much would it cost?
(Assume that the cost of a playlist is the sum of the price of its constituent tracks).
REQ tables:
*/

SELECT 
    SUM(t.bytes) AS 'Total_size_bytes' , 
    SUM(t.UnitPrice) AS 'Total_playlist_cost'
FROM playlists p 
LEFT JOIN playlist_track pt
    ON p.PlaylistId = pt.PlaylistId
LEFT JOIN tracks t
    ON pt.TrackId = t.TrackId
WHERE p.Name='Grunge'

Because I wasn't sure of the amount of tracks were in the playlist ID I ran the following querry. Since it runs very similarly to my previous methods it is possible that I am repeating my

In [1]:
SELECT *
FROM playlists p
LEFT JOIN playlist_track pt
    ON p.PlaylistId = pt.PlaylistId
LEFT JOIN tracks t
    ON pt.TrackId = t.TrackId
WHERE p.PlayListId = 16

SyntaxError: invalid syntax (<ipython-input-1-97b462f678ee>, line 1)

### List	the	names	and	the	countries	of	those	customers	who	are	supported	by	an	employee	who	was	younger	than	35	when	hired.

In [ ]:
/**List the names and the countries of those customers who are supported by an
 employee who was younger than 35 when hired.*/
 
SELECT c.FirstName, C.LastName, c.Country
FROM customers c
WHERE SupportRepId IN ( 
    SELECT DISTINCT EmployeeId
    FROM employees
    WHERE HireDate - BirthDate < 35)