## We will be working with database chinook.db
You can download it here: https://drive.google.com/file/d/0Bz9_0VdXvv9bWUtqM0NBYzhKZ3c/view?usp=sharing

The	Chinook	Database is	about an imaginary video and music store. Each track is	stored using one of	the digital formats and	has	a genre. The store has also	some playlists,	where a single track can be	part of several	playlists. Orders are recorded	for	customers, but are called invoices. Every customer is assigned a support employee, and Employees report to other employees.

### Which	artists	did	not	make	any	albums	at	all?	Include	their	names	in your	answer.

In [ ]:
SELECT a.Name
FROM artists a
LEFT JOIN albums al
    ON a.ArtistID = al.Artistid
WHERE al.Title IS NULL
GROUP BY a.ArtistID

### Which	artists	recorded	any	tracks	of	the	Latin	genre?

In [ ]:
SELECT DISTINCT ar.Name
FROM artists ar
LEFT JOIN albums al
    ON ar.ArtistID = al.Artistid
LEFT JOIN tracks tr
    ON al.AlbumId = tr.AlbumId
LEFT JOIN genres g
    ON g.GenreId = tr.GenreId
WHERE g.Name LIKE '%Latin%'
GROUP BY ar.Name

### Which	video track	has	the	longest	length?

In [ ]:
-- Which video track has the longest length?
SELECT *
FROM tracks tr
  LEFT JOIN media_types mt ON tr.MediaTypeId = mt.MediaTypeId
WHERE tr.MediaTypeId = 3
ORDER BY tr.Milliseconds DESC 
LIMIT 1 --  OFFSET 1;

### Find	the	names	of	customers	who	live	in	the	same	city	as	the	top	employee	(The	one	not	managed	by	anyone).

In [ ]:
/* Find the names of customers who live in the same city as the top employee (The one not managed by anyone).
reports to 
TABLE needed customers/employees
*/

SELECT c.FirstName,c.LastName 
FROM customers c
WHERE City = ( 
    SELECT City 
    FROM employees
    WHERE ReportsTo is NULL )

### Find	the	managers of	employees	supporting	Brazilian	customers.

In [ ]:
-- returns nothing...not quite sure why
SELECT *
FROM employees
WHERE Title LIKE '%Manager%' 
    AND EmployeeId = (
        SELECT DISTINCT SupportRepId
        FROM customers
        WHERE Country = 'Brazil')

### Which	playlists	have	no	Latin	tracks?

In [ ]:
/* Which playlists have no Latin tracks?
Tables: playlists,playlist track,tracks,genres */
SELECT p.PlaylistId, p.Name -- DISTINCT
FROM playlists p
LEFT JOIN playlist_track pt
    ON p.PlaylistId = pt.PlaylistId
LEFT JOIN tracks t
    ON pt.TrackId = t.TrackId
LEFT JOIN genres g
    ON t.GenreId = g.GenreId
WHERE NOT g.Name = 'Latin'